body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 1em;
    color: #333333;
}

h1, h2, h3 {
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

progress {
    color: rgb(39, 107, 174);
    background-color: #f3f3f3;
    height: 0.75em;
    border-radius: 2px;
    width: 8em;
}
progress::-moz-progress-bar {
    color: rgb(39, 107, 174);
    background-color: #f3f3f3;
    height: 0.75em;
    border-radius: 2px;
    width: 8em;
}
progress::-webkit-progress-value {
    background-color: rgb(39, 107, 174);
    border-radius: 2px;
}
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    height: 0.75em;
    border-radius: 2px;
    width: 8em;
}

ul {
    padding-left: 1em;
}

li .unassigned {
    color: rgb(175, 25, 0);
}

div.issue-type {
    display: inline;
    font-family: "Courier New", Courier, monospace;
    margin-right: 0.25em;
}
